* {
  margin: 0;
  padding: 0;
}
.outer {
  background-color: #fff;
  box-shadow: 3px 3px 7px #40508198, -3px -3px 10px #1529663f;
  z-index: 1000;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.outer:hover {
  box-shadow: inset 1px 1px 20px #40508198, inset -2px -2px 5px #1529663f;
}
